.movieListPage {
  height: 1000px;
}

.appHeader {
  height: 396px;
  width: 1200px;
}

.appLogo {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;

  color: #f65261;
  margin-left: 40px;
}

.appLogo > span {
  font-weight: normal;
}

.searchViewBg {
  background-color: #000;
  background-image: url('../../assets/img/header.png');
}

.detailsViewBg {
  background-color: #232323;
  background-image: none;
}
