.movieForm {
}

label {
  color: #f65261 !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 1px;
  text-transform: uppercase;
}
