.genreSelect {
    background: #232323;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 15px;
    border-bottom: 1px solid #424242;
    height: 40px;
}

.selectedGenre {
    /* TODO: check the way to avoid !important*/
    border-bottom: 2px solid #F65261 !important;
}

.genre {
    cursor: pointer;
    margin: 10px;
    padding-bottom: 3px;
}