.genreSelect {
  background: #232323;
  color: #ffffff;
  font-family: Montserrat, serif;
  text-transform: uppercase;
  padding-left: 15px;
  border-bottom: 1px solid #424242;
  height: 40px;
}

.selectedGenre {
  border-bottom: 2px solid #f65261 !important;
}

.genre {
  cursor: pointer;
  margin: 10px;
  padding-bottom: 3px;
}
