.appHeader {
    height: 396px;
    width: 1200px;
}

.appLogo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    font-weight: bold;
    
    color: #F65261;
    margin-left: 40px; 
}

.appLogo > span {
    font-weight: normal;
}