.Header {
    background-color: black;
    background-image: url('../../assets/img/header.png');
    height: 396px;
    width: 1200px;
}

.Title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.Logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    font-weight: bold;
    
    color: #F65261;
    margin-left: 40px; 
}

.Logo > span {
    font-weight: normal;
}