.sortControl {
  background: #232323;
  color: #ffffff;
  height: 40px;
  text-transform: uppercase;
}

.sortControl span {
  color: #767676;
}

.sortControlForm {
  margin-left: 20px;
}

.sortControl div[role='select'] {
  min-width: 146px;
  margin-left: 5px;
  margin-right: 10px;
}
